<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAOILabel" jhiTranslate="afterEarthApp.aOI.home.createOrEditLabel">Create or edit a AOI</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!aOI.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="aOI.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterEarthApp.aOI.lat" for="field_lat">Lat</label>
            <input type="text" class="form-control" name="lat" id="field_lat"
                [(ngModel)]="aOI.lat"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterEarthApp.aOI.lng" for="field_lng">Lng</label>
            <input type="text" class="form-control" name="lng" id="field_lng"
                [(ngModel)]="aOI.lng"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterEarthApp.aOI.before" for="field_before">Before</label>
            <div class="input-group">
                <input id="field_before" type="text" class="form-control" name="before" ngbDatepicker  #beforeDp="ngbDatepicker" [(ngModel)]="aOI.before"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="beforeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterEarthApp.aOI.after" for="field_after">After</label>
            <div class="input-group">
                <input id="field_after" type="text" class="form-control" name="after" ngbDatepicker  #afterDp="ngbDatepicker" [(ngModel)]="aOI.after"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="afterDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterEarthApp.aOI.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="aOI.title"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterEarthApp.aOI.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="aOI.description"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
