
<div *ngIf="aOI">
    <h2><span jhiTranslate="afterEarthApp.aOI.detail.title">AOI</span> {{aOI.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="afterEarthApp.aOI.lat">Lat</span></dt>
        <dd>
            <span>{{aOI.lat}}</span>
        </dd>
        <dt><span jhiTranslate="afterEarthApp.aOI.lng">Lng</span></dt>
        <dd>
            <span>{{aOI.lng}}</span>
        </dd>
        <dt><span jhiTranslate="afterEarthApp.aOI.before">Before</span></dt>
        <dd>
            <span>{{aOI.before | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="afterEarthApp.aOI.after">After</span></dt>
        <dd>
            <span>{{aOI.after | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="afterEarthApp.aOI.title">Title</span></dt>
        <dd>
            <span>{{aOI.title}}</span>
        </dd>
        <dt><span jhiTranslate="afterEarthApp.aOI.description">Description</span></dt>
        <dd>
            <span>{{aOI.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'aoi/'+ aOI.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
