<div>
    <h2>
        <span jhiTranslate="afterEarthApp.aOI.home.title">AOIS</span>
        <button class="btn btn-primary float-right jh-create-entity create-aoi" [routerLink]="['/', { outlets: { popup: ['aoi-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="afterEarthApp.aOI.home.createLabel">
            Create new AOI
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="aOIS">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lat"><span jhiTranslate="afterEarthApp.aOI.lat">Lat</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lng"><span jhiTranslate="afterEarthApp.aOI.lng">Lng</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="before"><span jhiTranslate="afterEarthApp.aOI.before">Before</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="after"><span jhiTranslate="afterEarthApp.aOI.after">After</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="afterEarthApp.aOI.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="afterEarthApp.aOI.description">Description</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aOI of aOIS ;trackBy: trackId">
                <td><a [routerLink]="['../aoi', aOI.id ]">{{aOI.id}}</a></td>
                <td>{{aOI.lat}}</td>
                <td>{{aOI.lng}}</td>
                <td>{{aOI.before | date:'mediumDate'}}</td>
                <td>{{aOI.after | date:'mediumDate'}}</td>
                <td>{{aOI.title}}</td>
                <td>{{aOI.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../aoi', aOI.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aoi/'+ aOI.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aoi/'+ aOI.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="aOIS && aOIS.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
